In [1]:
# probability of getting 3 when a die is rolled
ns = 6 
na = 1
pa = na/ns
print("probability of getting 3 is: ", pa)

probability of getting 3 is:  0.16666666666666666

# Probability of alteast getting one head when a coin is tossed thrice

In [2]:
ns = 8
na = 7
pa = na/ns
print("probability of getting atleast one head is : ", pa)

probability of getting atleast one head is :  0.875

In [3]:
# A glass jar contains 5 red, 3 blue and 2 green jelly
# beans.  If a jelly bean is chosen at random from the jar,
# what is the probability that it is not blue?

ns = 10
na = 7
pa = na/ns
print("probability of getting not blue jellybean is : ", pa)

probability of getting not blue jellybean is :  0.7

# Independent and Dependent Events

In [4]:
# If the probability that person A will be alive in 20 years and the probability that person B will be alive in 20 years
# is 0.5, what is the probability that they will both be alive in 20 years
p = 0.7 * 0.5
print("probability that they will be alive after 20 years: ", p)

probability that they will be alive after 20 years:  0.35

In [5]:
def event_probability(n,s):
    return n/s

In [6]:
# A fair die is tossed twice. Find the probaility of getting a 4 or 5 on the first toss and a 1, 2, or 3 in the second toss
pa = event_probability(2,6)
pb = event_probability(3,6)
p = pa * pb
print("probability of getting a 4 or 5 on the first toss and a 1, 2, or 3 in the second toss: ", p)

probability of getting a 4 or 5 on the first toss and a 1, 2, or 3 in the second toss:  0.16666666666666666

In [7]:
# A bag contains 5 white marbles, 3 black marbles and # 2 green marbles. In each draw, a marble is drawn from
# the bag and not repeated. In three draws, find the # Probability of obtaining white, black and green in that order.
pw = event_probability(5, 10)
pb = event_probability(3, 9)
pg = event_probability(2, 8)
print("Probability of obtaining white, black and green in that order: ", pw*pb*pg)

Probability of obtaining white, black and green in that order:  0.041666666666666664

In [9]:
# Sample space
cards = 52

# Calculate the probability of drawing a heart or a club
hearts = 13
clubs = 13
heart_or_club = event_probability(hearts, cards) + event_probability(clubs, cards)
print(heart_or_club)

0.5

In [10]:
# Calculate the probability of drawing an ace, king or a queen
cards = 52
aces = 4
kings  = 4
queens = 4
ace_king_or_queen = event_probability(aces, cards) + event_probability(kings, cards) + event_probability(queens, cards)
print(ace_king_or_queen)

0.23076923076923078

In [11]:
# Calculate the probability of drawing a heart or an ace
hearts = 13
aces = 4
ace_of_hearts = 1
heart_or_ace = event_probability(hearts, cards) + event_probability(aces, cards) - event_probability(ace_of_hearts, cards)
print(round(heart_or_ace, 1))

0.3

In [12]:
# Calculate the probability of drawing red cards or a face cards
red_cards = 26
face_cards = 12
red_face_cards = 6
red_or_face = event_probability(red_cards, cards) + event_probability(face_cards, cards) - event_probability(red_face_cards, cards)
print(round(red_or_face, 1))

0.6

# Complement of the events

In [13]:
# probability of not getting 5 when a fair die is rolled
ns = 6
na = 1
pa = na / ns
print("probability of not getting 5 is : ", 1 - pa)

probability of not getting 5 is :  0.8333333333333334

In [17]:
# Conditional probability
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/ADMIN/Desktop/student-mat.csv.csv")

In [18]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [19]:
len(df)

395

In [20]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [21]:
print(df['G3'].max())
print(df['G3'].min())

20
0

In [22]:
df['grade_A'] = np.where(df['G3']*5 >= 80, 1, 0)

In [23]:
df['high_absences'] = np.where(df['absences'] >= 10, 1, 0)

In [24]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A,high_absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,0,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,2,15,14,15,0,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,4,6,10,10,0,0

In [25]:
df['count'] = 1

In [26]:
df = df[['grade_A', 'high_absences', 'count']]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [27]:
final = pd.pivot_table(
df, 
values='count', 
index=['grade_A'],
columns=['high_absences'],
aggfunc=np.size,
fill_value=0)

In [28]:
final

high_absences    0   1
grade_A
0              277  78
1               35   5

In [3]:
pa = (35+5)/(277+78+35+5) #Students h=who have grade A
print(pa)
pb = (78+5)/(277+78+35+5) #Students who have absents more than 10 lectures 
print(pb)
p_a_or_p_b = 5/(277+78+35+5) #Students who have absents more tham 10 lectures and having 
print(p_a_or_p_b)
p_ab = p_a_or_p_b/pb
print(p_ab)

0.10126582278481013
0.21012658227848102
0.012658227848101266
0.060240963855421686

# Permutation and combinatorices

# With Repitition

In [6]:
import itertools
from itertools import product 
box_1 = ['g','b']
perm = []
for p in itertools.product (box_1, repeat = 2):
    perm.append(p)
    
perm

[('g', 'g'), ('g', 'b'), ('b', 'g'), ('b', 'b')]

Lets do the same instead of 3 balls

In [7]:
import itertools
from itertools import product 
box_2 = ['g','b','y']
perm = []
for p in itertools.product (box_2, repeat = 3):
    perm.append(p)
    
perm

[('g', 'g', 'g'),
 ('g', 'g', 'b'),
 ('g', 'g', 'y'),
 ('g', 'b', 'g'),
 ('g', 'b', 'b'),
 ('g', 'b', 'y'),
 ('g', 'y', 'g'),
 ('g', 'y', 'b'),
 ('g', 'y', 'y'),
 ('b', 'g', 'g'),
 ('b', 'g', 'b'),
 ('b', 'g', 'y'),
 ('b', 'b', 'g'),
 ('b', 'b', 'b'),
 ('b', 'b', 'y'),
 ('b', 'y', 'g'),
 ('b', 'y', 'b'),
 ('b', 'y', 'y'),
 ('y', 'g', 'g'),
 ('y', 'g', 'b'),
 ('y', 'g', 'y'),
 ('y', 'b', 'g'),
 ('y', 'b', 'b'),
 ('y', 'b', 'y'),
 ('y', 'y', 'g'),
 ('y', 'y', 'b'),
 ('y', 'y', 'y')]

# Without Repitation

In [9]:
import itertools

box_1 = ['g','b']
perm = itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b')
('b', 'g')

In [10]:
import itertools

box_1 = ['g','b','y']
perm = itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b', 'y')
('g', 'y', 'b')
('b', 'g', 'y')
('b', 'y', 'g')
('y', 'g', 'b')
('y', 'b', 'g')

Variation with repetition

V(n,k) = nn........(k times) = n^k

In [12]:
box_2 = ['g','b','y']
perm=[]
for p in itertools.product(box_2,repeat=2):
    perm.append(p)
    
perm

[('g', 'g'),
 ('g', 'b'),
 ('g', 'y'),
 ('b', 'g'),
 ('b', 'b'),
 ('b', 'y'),
 ('y', 'g'),
 ('y', 'b'),
 ('y', 'y')]

In [14]:
box_2 = ['g','b','y','r']
perm=[]
for p in itertools.product(box_2,repeat=3):
    perm.append(p)
    
perm

[('g', 'g', 'g'),
 ('g', 'g', 'b'),
 ('g', 'g', 'y'),
 ('g', 'g', 'r'),
 ('g', 'b', 'g'),
 ('g', 'b', 'b'),
 ('g', 'b', 'y'),
 ('g', 'b', 'r'),
 ('g', 'y', 'g'),
 ('g', 'y', 'b'),
 ('g', 'y', 'y'),
 ('g', 'y', 'r'),
 ('g', 'r', 'g'),
 ('g', 'r', 'b'),
 ('g', 'r', 'y'),
 ('g', 'r', 'r'),
 ('b', 'g', 'g'),
 ('b', 'g', 'b'),
 ('b', 'g', 'y'),
 ('b', 'g', 'r'),
 ('b', 'b', 'g'),
 ('b', 'b', 'b'),
 ('b', 'b', 'y'),
 ('b', 'b', 'r'),
 ('b', 'y', 'g'),
 ('b', 'y', 'b'),
 ('b', 'y', 'y'),
 ('b', 'y', 'r'),
 ('b', 'r', 'g'),
 ('b', 'r', 'b'),
 ('b', 'r', 'y'),
 ('b', 'r', 'r'),
 ('y', 'g', 'g'),
 ('y', 'g', 'b'),
 ('y', 'g', 'y'),
 ('y', 'g', 'r'),
 ('y', 'b', 'g'),
 ('y', 'b', 'b'),
 ('y', 'b', 'y'),
 ('y', 'b', 'r'),
 ('y', 'y', 'g'),
 ('y', 'y', 'b'),
 ('y', 'y', 'y'),
 ('y', 'y', 'r'),
 ('y', 'r', 'g'),
 ('y', 'r', 'b'),
 ('y', 'r', 'y'),
 ('y', 'r', 'r'),
 ('r', 'g', 'g'),
 ('r', 'g', 'b'),
 ('r', 'g', 'y'),
 ('r', 'g', 'r'),
 ('r', 'b', 'g'),
 ('r', 'b', 'b'),
 ('r', 'b', 'y'),
 ('r', 'b', 'r'),
 ('r', 'y', 'g'),
 ('r', 'y', 'b'),
 ('r', 'y', 'y'),
 ('r', 'y', 'r'),
 ('r', 'r', 'g'),
 ('r', 'r', 'b'),
 ('r', 'r', 'y'),
 ('r', 'r', 'r')]

Variation Without Repetition

V(n,k) = n!/(n-k)!

In [15]:
box_2 = ['g','y','r']
perm = itertools.permutations(box_2,2)

for i in list(perm):
    print(i)

('g', 'y')
('g', 'r')
('y', 'g')
('y', 'r')
('r', 'g')
('r', 'y')

Combinations with repetition:

The number of possible combinations (with repetition) is given by:
 
 
    C(n,k) = (n+k-1)!/k!(n-1)!

In [16]:
from itertools import combinations_with_replacement

box_1 = ['g','b']
comb = combinations_with_replacement(box_1,2)


for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('b', 'b')

In [19]:
from itertools import combinations_with_replacement

box_1 = ['g','b','y','r']
comb = combinations_with_replacement(box_1,2)


for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('g', 'y')
('g', 'r')
('b', 'b')
('b', 'y')
('b', 'r')
('y', 'y')
('y', 'r')
('r', 'r')

Without Repetitions:

The number of possible combinations (with repetition) is given by:

     C(n,k) = n!/k!(n-1)!

In [20]:
from itertools import combinations

box_1 = ['g','b','y']
comb = combinations(box_1,2)


for i in list(comb):
    print(i)

('g', 'b')
('g', 'y')
('b', 'y')